<section id="filter">
	<%= form_tag(timecat_tasks_path) do %>
	  <div class="field">
		<%= label_tag("Time: ") %>
		<%= select_tag(:free_time, options_for_select(TimeInterval.form_parameters)) %>
	    <%= label_tag("Category: ") %>
		<%= select_tag(:category, options_for_select(Category.names)) %>
		<%= submit_tag("Go") %>
	  </div>
	<% end %>
	<p class="input button"><%= link_to 'new task', new_task_path %></p>
</section>