<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task %><br />
    <%= f.text_field :task %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
	<%= select_tag(:time, options_for_select([['5 min', 1], ['15 min', 2], ['30 min', 3], ['60 min', 4]])) %>


  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <%= select_tag(:tags, options_for_select([['organization', 1], ['learning', 2], ['community', 3], ['health', 4]])) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
