<div id="main">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<div class="clear"></div>
	<section id="edit">

<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul id="tasks">
	<li>
		<p class="checkbox input"><%= link_to '' %></p>
   		<p class="title"><%= f.text_field :task, :value => "Task Title", :class => "input" %></p>

		<div class="details">
			<p class="time"><%= f.select(:time, options_for_select(TimeInterval.form_parameters)) %></p>
		    <p class="category"><%= f.collection_select(:category_id, Category.all, :id, :name) %></p>
		</div>
		<div class="more">
		    <p><%= f.text_area :description, :value => "Task Description", :class => "description input" %></p>
			<div class="controls">
				<p><%= f.submit "save task", :class => "input button" %></p>
			</div>
		</div>
		<% end %>
	</li>
</ul>

</section>
</div>