<ul id="tasks">
<% @tasks.each do |task| %>
	<% if task.completed? %>
	<% else %>
	  <li>
		<%= form_tag(complete_task_path(task), :method => "get") do %>
			<%= submit_tag("complete") %>
		<% end %>

	   	<h3><%= link_to "#{task.task}", task %></h3>
	    <p><a href="#"><%= task.time %></a></p>
		<p><a href="#"><%= task.category.name %></a></p>
		<p><%= task.description %></p>
		<p>Priority: <%= task.priority %></p>
	    <p><%= link_to 'Edit', edit_task_path(task) %></p>
		<p><%= link_to 'Move up', prioritize_task_path(task) %>
		<p><%= link_to 'Move down', deprioritize_task_path(task) %>
	  </li>

	<% end %>
<% end %>
	</ul>