<div id="main">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= render 'form' %>
	<div class="clear"></div>
	<%= link_to 'Show', @task %> |
	<%= link_to 'Back', tasks_path %>
</div>
