<%= form_tag(time_tasks_path) do %>
  <div class="field">
    <%= label_tag :free_time %><br />
	<%= select_tag(:free_time, options_for_select(TimeInterval.form_parameters)) %>
	<%= submit_tag("View tasks") %>
  </div>
<% end %>

<h1>Current Tasks</h1>

<%= render 'not_completed'%>

<br />

<p id="new-task"><%= link_to 'New Task', new_task_path %></p>

<h1>Completed Tasks:</h1>

<%= render 'completed'%>


