<p id="notice"><%= notice %></p>

<p>
  <b>Task:</b>
  <%= @task.task %>
</p>

<p>
  <b>Time:</b>
  <%= @task.time %> minutes
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Category:</b>
  <%= @task.category %>
  
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
